doctype html 
html
head 
    title Page Not Fund
    link(rel="stylesheet", href="/style.css")
    meta(charset="UTF-8")
body
    h1
        a(href="/") Return to Arkham City
    
        p Enemy: '#{text}' Not Found