body {
  background-color: #313552;
}

h1 {
  color: #eee6ce;
}

.buttonSearch {
  padding: 0 15px;
  font-family: "san-serif";
  font-weight: bold;
  outline: none;
  font-size: 16px;
  border-radius: 0.4rem;
}

.button-blue {
  background-color: #239f12;
  color: #fff;
}

.button-close {
  background-color: #dd4a48;
  color: #fff;
}

.search {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search {
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-input {
  border-radius: 0.25rem;
  margin-right: 0.4rem;
}

.search--top {
  align-items: flex-start;
}

.search--center {
  align-items: center;
}

.container-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
